RewriteEngine On
RewriteCond %{QUERY_STRING} ^Fanarts$
RewriteRule ^(.*)$ https://fanyvamptest.github.io/FanArts/$1 [R=301,L]
RewriteCond %{QUERY_STRING} ^fanarts$
RewriteRule ^(.*)$ https://fanyvamptest.github.io/FanArts/$1 [R=301,L]
RewriteCond %{QUERY_STRING} ^FANARTS$
RewriteRule ^(.*)$ https://fanyvamptest.github.io/FanArts/$1 [R=301,L]


