body {
  background-color: rgb(80, 56, 70);
}
nav {
  background-color: rgb(30,30,30);
}
p {
  font-size: larger;
  font-style: italic;
  font-family: bold;
}
.btn {
  max-width: 100%;
  height: auto;
}
.d-flex {
 padding-top: 1.25rem; /* 20px convertidos a rem */
}
.BG {
padding-top: 5rem; /* 80px convertidos a rem */
left: 1.25rem; /* 20px convertidos a rem */
width: 100%;
}
h1 {
background-color: rgb(57, 38, 57);
color: white;
border: 0.3125rem inset rgb(39, 28, 48); /* 5px convertidos a rem */
}
.Instagram {
background-color: rgb(225, 48, 108);
border: none;
}
.Instagram:active,
.Instagram:focus,
.Instagram:hover {
background-color: rgb(225, 48, 108) !important;
border-color: rgb(225, 48, 108) !important;
animation: none !important;
}
.YouTube {
background-color: rgb(196,48,43);
border: none;
} 
.YouTube:active,
.YouTube:focus,
.YouTube:hover {
background-color: rgb(196,48,43) !important;
border-color: rgb(196,48,43) !important;
animation: none !important;
}
.TikTok {
background-color: rgb(37, 244, 238);
border: none;
} 
.TikTok:active,
.TikTok:focus,
.TikTok:hover {
background-color: rgb(37, 244, 238) !important;
border-color: rgb(37, 244, 238) !important;
animation: none !important;
}
.Discord {

border: none;
} 
.Discord:active,
.Discord:focus,
.Discord:hover {

border-color: rgb(88, 101, 242) !important;
animation: none !important;
}
footer {
background-color:rgb(30,30,30);
}
#twitch-embed {
  display: flex;
  align-items: center;
  justify-content: center;
}