html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(Profile/FanyBanner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main-container {
    min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.Top{
  padding-top: 5rem;
}
#twitch-embed{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p{
  font-size: 1.5rem;
  font-style: italic;
  font-family: bold;
}
.Section{
  padding-top: 5rem;
  width: 100%;
}
h1{
  border: 0.3125rem double rgb(39, 28, 48);
  background-color: rgba(0, 0, 0, 0.5); 
}
.Novedades{
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 0.3125rem double rgb(39, 28, 48);
}
.twitter-timeline{
  padding-top: 2rem;
}
.btn{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
}
.btn img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Historia{
  max-width: 200px; 
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.Kofi{
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.container #kofiframe{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
footer{
  border: 0.3125rem double rgb(39, 28, 48);
  
}
.shake{
  display:inline-block !important;
}
.translucent{
  opacity: 0.4;
}